@page "/posts"
@using OpenAppLab.Core.UI.Shared.GraphQL
@inject GraphQLHttpClientService GraphQLService

<h3>Posts</h3>

@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else if (!posts.Any())
{
    <p>No posts found.</p>
}
else
{
    <ul>
        @foreach (var post in posts)
        {
            <li>
                <strong>@post.Title</strong>
                <pre>@post.Content</pre>
            </li>
        }
    </ul>
}

@code {
    private List<Post>? posts;

    protected override async Task OnInitializedAsync()
    {
        var query = new GraphQLQueryable<Post>("posts")
                    .Where(p => p.Title == "Hello World" || p.Title == "GraphQL is Awesome")
                    .Page(1, "MA==")
                    .Select(x => new { x.Id, x.Title })
                    .BuildQuery();


        // Optional: log query
        Console.WriteLine(query);

        var posts = await GraphQLService.ExecuteQueryAsync<Post>(query);

        // Optional: log query
        Console.WriteLine(query);

        // posts = await new GraphQLQueryable<Post>(GraphQLService)
        //     .Where(p => p.Title == "Hello World")
        //     .Page(1, 5)
        //     .ToListAsync();

        
        await base.OnInitializedAsync();
    }

    public class Post
    {
        public Guid Id { get; set; }
        public string Title { get; set; }
        public string Content { get; set; }
    }
} 